---
import PostLayout from '../components/PostLayout.astro';
import LinkBlock from '../components/LinkBlock.astro';
import { type CollectionEntry } from 'astro:content';

interface Props {
  entry: CollectionEntry<'work'> | CollectionEntry<'news'> | CollectionEntry<'sold'>;
  next?: any;
  prev?: any;
  baseSlug?: string; // e.g. 'work'
}

const { entry, next, prev, baseSlug } = Astro.props;
const { Content } = await entry.render();

const { title, description, thumbnail } = entry.data;
---

<PostLayout title={title} description={description} thumbnail={thumbnail} includeExcerpt>
  <Content />

  <Fragment slot="after">
    <div class="post-link">
      <div>
        {next && (
          <LinkBlock
            direction="prev"
            href={`/${baseSlug}/${next.slug}/`}
            label={next.data.title}
          />
        )}
      </div>
      <div>
        {prev && (
          <LinkBlock
            direction="next"
            href={`/${baseSlug}/${prev.slug}/`}
            label={prev.data.title}
          />
        )}
      </div>
    </div>
  </Fragment>
</PostLayout>
